.main
{
    padding-top: 60px;
}

@media (min-width: 20rem)
{
    .cartita
    {
        height: 100%;
        width: 100%;
    }
    .cardContainer
    {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
            grid-gap: 5px;
            justify-items: center;
            align-items: center;
    }
}
@media (min-width: 56rem)
{
    .cartita
    {
        height: 100%;
        width: 100%;
    }
    .cardContainer
    {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-gap: 5px;
            justify-items: center;
            align-items: center;
    }
}